<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nexgen-Sales Management</title>
    
        <!-- Favicon -->
        <link rel="icon" href="{% static 'images/nexgen.jpg' %}" type="image/x-icon">
        <link rel="shortcut icon" href="{% static 'images/nexgen.jpg' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&display=swap" rel="stylesheet">
    
        <!-- Core CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/fontawesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/iconfont.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/themify.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/flag-icon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/scrollbar.css' %}">
    
        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/jquery.dataTables.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/dataTables.bootstrap5.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/autoFill.bootstrap5.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/buttons.bootstrap5.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/fixedHeader.bootstrap5.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/responsive.bootstrap5.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/rowReorder.bootstrap5.css' %}">
    
        <!-- Main Styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link id="color" rel="stylesheet" href="{% static 'css/color-1.css' %}" media="screen">
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    </head>

<body>
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- loader starts-->
    <div class="loader-wrapper">
        <div class="loader-index"> <span></span></div>
        <svg>
        <defs></defs>
        <filter id="goo">
          <fegaussianblur in="SourceGraphic" stddeviation="11" result="blur"></fegaussianblur>
          <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"> </fecolormatrix>
        </filter>
      </svg>
    </div>
    <!-- loader ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper row m-0">
                <form class="form-inline search-full col" action="#" method="get">
                    <div class="form-group w-100">
                        <h3>Sales</h3>
                        <div class="Typeahead Typeahead--twitterUsers">
                            <div class="u-posRelative">
                                <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Anything Here..." name="q" title="" autofocus>
                                <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading...</span></div><i class="close-search" data-feather="x"></i>
                            </div>
                            <div class="Typeahead-menu"></div>
                        </div>
                    </div>
                </form>
                <div class="header-logo-wrapper col-auto p-0">
                    <div class="logo-wrapper"> <a href="index.html">
                        <img class="img-fluid for-light" src="{% static 'images/logo/logo.png' %}" alt="">
                        <img class="img-fluid for-dark" src="{% static 'images/logo/logo_dark.png' %}" alt="">
                    </a></div>
                    <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
                </div>
                <script class="result-template" type="text/x-handlebars-template">
                    <div class="ProfileCard u-cf">
                        <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
                        <div class="ProfileCard-details">
                            <div class="ProfileCard-realName">{{name}}</div>
                        </div>
                    </div>
                </script>
                <script class="empty-template" type="text/x-handlebars-template">
                    <div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div>
                </script>
            </div>
        </div>
        <!-- Page Header Ends                              -->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper" data-sidebar-layout="stroke-svg">
                <div>
                    <div class="logo-wrapper"><a href="index.html"><img class="img-fluid for-light" src="{% static 'images/nexgen_logo.jpg' %}" alt=""><img class="img-fluid for-dark" src="{% static 'images/logo/logo_dark.png' %}" alt=""></a>
                        <div class="back-btn"><i class="fa-solid fa-angle-left"></i></div>
                        <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
                    </div>
                    <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="{% static 'images/logo/logo-icon.png' %}" alt=""></a></div>
                    <nav class="sidebar-main">
                        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                        <div id="sidebar-menu">
                            <ul class="sidebar-links" id="simple-bar">
                                <li class="back-btn"><a href="index.html"><img class="img-fluid" src="{% static 'images/logo/logo-icon.png' %}" alt=""></a>
                                    <div class="mobile-back text-end"><span>Back</span><i class="fa-solid fa-angle-right ps-2" aria-hidden="true"></i></div>
                                </li>
                                <li class="pin-title sidebar-main-title">
                                    <div>
                                        <h6>Pinned</h6>
                                    </div>
                                </li>
                                <li class="sidebar-main-title">
                                    <div>
                                        <h6 class="lan-1">General</h6>
                                    </div>
                                </li>
                                <li class="sidebar-list"><i class="fa-solid fa-thumbtack"></i>
                                    <label class="badge badge-light-primary"></label><a class="sidebar-link sidebar-title" href="#">
                      <svg class="stroke-icon">
                        <use href="{% static 'svg/icon-sprite.svg#stroke-home' %}"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="{% static 'svg/icon-sprite.svg#fill-home' %}"></use>
                      </svg><span class="lan-3">Dashbbbbbboard</span></a>
                                    
                                </li>
                                <li class="sidebar-list"><i class="fa-solid fa-thumbtack"></i><a class="sidebar-link sidebar-title" href="#">
                      <svg class="stroke-icon">
                        <use href="{% static 'svg/icon-sprite.svg#stroke-widget' %}"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="{% static 'svg/icon-sprite.svg#fill-widget' %}"></use>
                      </svg><span class="lan-6">Lead Tables</span></a>
                                    
                                </li>
                                <li class="sidebar-list"><i class="fa-solid fa-thumbtack"></i><a class="sidebar-link sidebar-title" href="#">
                      <svg class="stroke-icon">
                        <use href="{% static 'svg/icon-sprite.svg#stroke-layout' %}"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="{% static 'svg/icon-sprite.svg#fill-layout' %}"></use>
                      </svg><span class="lan-7">Form</span></a>
                                    
                                </li>
                        </div>
                        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
                    </nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3>Lead Table</h3>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">                                       
                        <svg class="stroke-icon">
                          <use href="{% static 'svg/icon-sprite.svg#stroke-home' %}"></use>
                        </svg></a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid starts-->
                <div class="container-fluid autofill-data-tables">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header pb-0 card-no-border">
                                </div>
                             
                                    <div class="dt-ext table-responsive custom-scrollbar html-expert-table">
                                        <table class="display table-striped" id="export-button">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Phone Number</th>
                                                    <th>Gender</th>
                                                    <th>City</th>
                                                    <th>College Name</th>
                                                    <th>Passout</th>
                                                    <th>Tech Fields</th>
                                                    <th>Status</th>
                                                    <th>Lead</th>
                                                    <th>Date</th>
                                                    <th>Follow Up</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for lead in lead %}
                                                <tr>
                                                    <td>{{ lead.name }}</td>
                                                    <td>{{ lead.email }}</td>
                                                    <td>{{ lead.phone }}</td>
                                                    <td>{{ lead.gender }}</td>
                                                    <td>{{ lead.city }}</td>
                                                    <td>{{ lead.college_name }}</td>
                                                    <td>{{ lead.passout }}</td>
                                                    <td>{{ lead.tech_field }}</td>
                                                    <td>{{ lead.status.identity }}</td>
                                                    <td>{{ lead.is_lead|yesno:"Yes,No"}}</td>
                                                    <td>{{ lead.created_at }}</td>
                                                    <td>{{ lead.follow_up }}</td>
                                                    <td>
                                                        <a href="{% url 'edit-lead' lead.id %}" title="Edit Lead">
                                                            <i class="fas fa-edit" style="color: #007bff; cursor: pointer;"></i>
                                                        </a>
                                                        &nbsp;
                                                        <a href="{% url 'delete-lead' lead.id %}" title="Delete Lead" onclick="return confirm('Are you sure you want to delete this lead?');">
                                                            <i class="fas fa-trash-alt" style="color: #dc3545; cursor: pointer;"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->
            </div>
            <!-- footer start-->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 footer-copyright text-center">
                            <p class="mb-0">Copyright <span class="year-update"> </span> © Sales Management</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    latest jquery
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!-- feather icon js -->
    <script src="{% static 'js/icons/feather-icon/feather.min.js' %}"></script>
    <script src="{% static 'js/icons/feather-icon/feather-icon.js' %}"></script>
    <!-- scrollbar js -->
    <script src="{% static 'js/scrollbar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/scrollbar/custom.js' %}"></script>
    <!-- Sidebar jquery -->
    <script src="{% static 'js/config.js' %}"></script>
    <!-- Plugins JS start -->
     <script src="{% static 'js/sidebar-menu.js' %}"></script>
    <script src="{% static 'js/sidebar-pin.js' %}"></script>
    <script src="{% static 'js/slick/slick.min.js' %}"></script>
    <script src="{% static 'js/slick/slick.js' %}"></script>
    <script src="{% static 'js/header-slick.js' %}"></script>
    <script src="{% static 'js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatable/datatables/dataTables1.js' %}"></script>
    <script src="{% static 'js/datatable/datatables/dataTables.bootstrap5.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/dataTables.autoFill.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/autoFill.bootstrap5.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/dataTables.keyTable.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/keyTable.bootstrap5.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/dataTables.buttons.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/buttons.bootstrap5.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/fixedHeader.bootstrap5.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/jszip.min.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/dataTables.responsive.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/responsive.bootstrap5.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/dataTables.rowReorder.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/rowReorder.bootstrap5.js' %}"></script>
    <script src="{% static 'js/datatable/datatable-extension/custom.js' %}"></script>
    
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/script1.js' %}"></script>
</body>

</html>